/* ---------------------------- PALETA DE COLORES --------------------------- */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* -------------------------------- AEROSOLES ------------------------------- */
.bodyaero {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto; }

/* ------------------------------- ACCESORIOS ------------------------------- */
.bodyacce {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto; }

/* --------------------------------- ESMALTE -------------------------------- */
.bodyesm {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto; }

/* ------------------------------- IMPERMEABILIZANTES ------------------------------- */
.bodyimp {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto; }

/* -------------------------------- CONTACTO -------------------------------- */
.bodycont {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-row-gap: 1rem; }

/* ---------------------------------- Ideas --------------------------------- */
.ideas {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  background-image: url(../imagenes/index/fondo.jpg);
  color: white;
  font-variant-caps: all-petite-caps;
  font-size: 100%;
  font-family: 'Fredericka the Great', cursive;
  padding: 5px; }

/* ---------------------------------- Slide --------------------------------- */
.slide {
  display: flex;
  flex-direction: column;
  align-items: center; }

.slide-inner {
  position: relative;
  overflow: hidden;
  width: 70%;
  height: auto; }

.slide-open:checked + .slide-item {
  position: static;
  opacity: 100; }

.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-out;
  transition: opacity 0.8s ease-out; }
  .slide-item img {
    display: block;
    height: auto;
    max-width: 100%; }

.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10; }

.slide-control.prev {
  left: 2%; }

.slide-control.next {
  right: 2%; }

.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa; }

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block; }

.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10; }
  .slide-indicador li {
    display: inline-block;
    margin: 0 5px; }

.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px; }

.slide-circulo:hover {
  color: #828282; }

#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo {
  color: #0055a5; }

/* ------------------------------- Informacion ------------------------------ */
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  padding-bottom: 30px;
  margin: 0px; }
  .info h2 {
    padding: 30px;
    width: auto;
    height: aut; }
  .info p {
    width: auto; }

.informacion {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  column-gap: 1rem; }

/* ------------------------------- Preparacion ------------------------------ */
.prep {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  padding-bottom: 30px;
  margin: 0px; }
  .prep h2 {
    padding: 30px;
    width: auto;
    height: auto; }
  .prep p {
    width: auto;
    height: auto;
    padding: 30px; }

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 5px; }

/* --------------------------------- Footer --------------------------------- */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #0055a5;
  color: #fee516;
  font-size: 20px; }
  .footer ul li a {
    text-decoration: none;
    color: white;
    padding: 10px; }
  .footer ul li h5 {
    font-size: 25px;
    padding: 10px; }

.map {
  align-items: flex-end;
  padding: 1rem; }

.credit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0055a5;
  color: white; }

/* -------------------------------- Sugeridos ------------------------------- */
.sugeridosTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 36px; }

.sugeridos {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
  padding: 1rem; }
  .sugeridos div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem; }
    .sugeridos div img {
      width: 300px; }

.a {
  grid-column: 1 / 4;
  align-items: center;
  justify-content: center; }

.productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  border-color: black;
  border-width: 2px;
  border-style: inset;
  padding-bottom: 5px;
  flex-wrap: wrap; }

input[type="button" i] {
  appearance: auto;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  font-size: 20px;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  color: buttontext;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial; }

.accesorios {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 3rem auto; }
  .accesorios h3 {
    grid-column: 1 / 4; }

/* -------------------------------- Contacto -------------------------------- */
.contacto {
  display: flex;
  justify-content: space-around; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.contactoTitulo {
  display: flex;
  justify-content: center;
  padding: 20px; }

.formName {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px; }

.formMail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px; }

.formConsulta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px; }

.formButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1rem; }
  .formButtons input {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    font-size: 20px;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial; }

.contactoImg {
  padding: 50px;
  width: 500px; }

/* ---------------------------------- Carta --------------------------------- */
.carta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto; }
  .carta h2 {
    padding: 30px;
    font-size: 36px; }
  .carta a img {
    width: 100%;
    height: 350px; }

/* ------------------------------ Media queris ------------------------------ */
/* ------------------------------ MOBILE ------------------------------ */
@media (min-width: 0px) and (max-width: 480px) {
  .body {
    min-width: 0px;
    max-width: 480px;
    margin: 0px;
    border: 0px; }
  /* ------------------------------ HEADER MOBILE ----------------------------- */
  .header {
    background-color: #0055a5;
    max-width: 100%; }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center; }
    .logo div {
      margin-top: 5px; }
  .logoImg {
    margin: 1rem; }
  .titulo {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    color: #fee516; }
  .redes {
    display: grid;
    grid-template-columns: 1fr 1fr auto auto auto;
    column-gap: 1rem;
    padding: 10px; }
  .red1 {
    grid-column: 3 / 4; }
  .red2 {
    grid-column: 4 / 5; }
  .red3 {
    grid-column: 5 / 6; }
  /* -------------------------------- NAV MOBILE ------------------------------- */
  .nav {
    background-color: #0055a5;
    display: none; }
  .navMobile {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .botonMenu {
    margin: 0 auto;
    display: block;
    width: 40px;
    height: 36px;
    padding: 10px;
    border-radius: 7px;
    background: none;
    color: white;
    cursor: pointer;
    position: relative; }
    .botonMenu span {
      display: block;
      width: 40px;
      height: 4px;
      background: white;
      margin-top: 7px; }
  label {
    cursor: pointer; }
  #menu-toggle {
    display: none; }
  #trickMenu {
    display: none;
    text-align: center;
    background-color: #0055a5;
    padding: 10px 0;
    text-decoration: none; }
    #trickMenu li a {
      display: block;
      padding: 10px 0;
      color: white;
      font-size: 30px;
      text-decoration: none; }
  #menu-toggle:checked + #trickMenu {
    display: block; }
  /* ---------------------------- IDEAS INNOVADORAS --------------------------- */
  .ideas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    background-image: url(../imagenes/index/fondo.jpg);
    color: white;
    font-variant-caps: all-petite-caps;
    font-size: 35px;
    font-family: 'Fredericka the Great', cursive;
    padding: 5px; }
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .slide-inner {
    position: relative;
    overflow: hidden;
    width: 70%;
    height: auto; }
  .slide-open:checked + .slide-item {
    position: static;
    opacity: 100; }
  .slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-out;
    transition: opacity 0.8s ease-out; }
    .slide-item img {
      display: block;
      height: auto;
      max-width: 100%; }
  .slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10; }
  .slide-control.prev {
    left: 2%; }
  .slide-control.next {
    right: 2%; }
  .slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa; }
  #slide-1:checked ~ .control-1,
  #slide-2:checked ~ .control-2,
  #slide-3:checked ~ .control-3 {
    display: block; }
  .slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10; }
    .slide-indicador li {
      display: inline-block;
      margin: 0 5px; }
  .slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px; }
  .slide-circulo:hover {
    color: #828282; }
  #slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
  #slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
  #slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo {
    color: #428bca; }
  /* --------------------------- INFORMACION MOBILE --------------------------- */
  .informacion {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    align-items: center;
    justify-items: center;
    justify-content: center; }
    .informacion div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: auto; }
  /* ----------------------------- CONTACTO MOBILE ---------------------------- */
  .contacto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse; }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .contactoTitulo {
    display: flex;
    justify-content: center;
    padding: 20px; }
  .formName {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px; }
  .formMail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px; }
  .formConsulta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px; }
  .formButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .formButtons input {
      appearance: auto;
      user-select: none;
      white-space: pre;
      align-items: flex-start;
      text-align: center;
      font-size: 20px;
      cursor: default;
      box-sizing: border-box;
      background-color: buttonface;
      color: buttontext;
      padding: 1px 6px;
      border-width: 2px;
      border-style: outset;
      border-color: buttonborder;
      border-image: initial; }
  .contactoImg {
    width: 250px;
    padding: 5px; }
  /* ----------------------------- SUGERIDOS MOBILE ---------------------------- */
  .sugeridosTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 36px; }
  .sugeridos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-content: center;
    width: auto; }
    .sugeridos div img {
      width: 250px; }
  .a {
    align-items: center;
    justify-content: center; }
  .sug1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex-wrap: wrap;
    grid-row: 2 / 3; }
  .sug2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex-wrap: wrap;
    grid-row: 3 / 4; }
  .sug3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex-wrap: wrap;
    grid-row: 4 / 5; }
  .productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-color: black;
    border-width: 2px;
    border-style: inset;
    padding-bottom: 5px;
    flex-wrap: wrap; }
  input[type="button" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    font-size: 20px;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial; }
  .accesorios {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3rem auto auto auto auto; }
    .accesorios h3 {
      grid-column: 1 / 4; } }

/* --------------------------------- TABLET - L.MOBILE --------------------------------- */
@media (min-width: 481px) and (max-width: 900px) {
  .body {
    min-width: 481px;
    max-width: 900px;
    margin: 0px;
    border: 0px; }
  /* --------------------------------- HEADER --------------------------------- */
  .header {
    background-color: #0055a5;
    max-width: 100%; }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center; }
    .logo div {
      margin-top: 5px; }
  .logoImg {
    margin-right: 10px; }
  .titulo {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    color: #fee516; }
  .redes {
    display: grid;
    grid-template-columns: 1fr 1fr auto auto auto;
    column-gap: 1rem;
    padding: 10px; }
  .red1 {
    grid-column: 3 / 4; }
  .red2 {
    grid-column: 4 / 5; }
  .red3 {
    grid-column: 5 / 6; }
  /* -------------------------------- NAV TABLET ------------------------------- */
  .nav {
    display: none;
    background-color: #0055a5; }
  .navMobile {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .botonMenu {
    margin: 0 auto;
    display: block;
    width: 40px;
    height: 36px;
    padding: 10px;
    border-radius: 7px;
    background: none;
    color: white;
    cursor: pointer;
    position: relative; }
    .botonMenu span {
      display: block;
      width: 40px;
      height: 4px;
      background: white;
      margin-top: 7px; }
  label {
    cursor: pointer; }
  #menu-toggle {
    display: none; }
  #trickMenu {
    display: none;
    text-align: center;
    background-color: #0055a5;
    padding: 10px 0; }
    #trickMenu li a {
      display: block;
      padding: 10px 0;
      color: white;
      text-decoration: none;
      font-size: 30px; }
  #menu-toggle:checked + #trickMenu {
    display: block; }
  /* ---------------------------- IDEAS INNOVADORAS --------------------------- */
  .ideas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    background-image: url(../imagenes/index/fondo.jpg);
    color: white;
    font-variant-caps: all-petite-caps;
    font-size: 40px;
    font-family: 'Fredericka the Great', cursive;
    padding: 5px; }
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .slide-inner {
    position: relative;
    overflow: hidden;
    width: 70%;
    height: auto; }
  .slide-open:checked + .slide-item {
    position: static;
    opacity: 100; }
  .slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-out;
    transition: opacity 0.8s ease-out; }
    .slide-item img {
      display: block;
      height: auto;
      max-width: 100%; }
  .slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10; }
  .slide-control.prev {
    left: 2%; }
  .slide-control.next {
    right: 2%; }
  .slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa; }
  #slide-1:checked ~ .control-1,
  #slide-2:checked ~ .control-2,
  #slide-3:checked ~ .control-3 {
    display: block; }
  .slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10; }
    .slide-indicador li {
      display: inline-block;
      margin: 0 5px; }
  .slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px; }
  .slide-circulo:hover {
    color: #aaaaaa; }
  #slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
  #slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
  #slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo {
    color: #428bca; }
  /* --------------------------- INFORMACION TABLET --------------------------- */
  .informacion {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    align-items: center;
    justify-items: center;
    justify-content: center; }
    .informacion div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: auto; }
  /* ----------------------------- CONTACTO TABLET ---------------------------- */
  .contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    align-content: center;
    padding: 10px; }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .contactoTitulo {
    display: flex;
    justify-content: center;
    padding: 20px; }
  .formName {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px; }
  .formMail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px; }
  .formConsulta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px; }
  .formButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px; }
    .formButtons input {
      appearance: auto;
      user-select: none;
      white-space: pre;
      align-items: flex-start;
      text-align: center;
      font-size: 20px;
      cursor: default;
      box-sizing: border-box;
      background-color: buttonface;
      color: buttontext;
      padding: 1px 6px;
      border-width: 2px;
      border-style: outset;
      border-color: buttonborder;
      border-image: initial; }
  .contactoImg {
    width: 400px;
    padding: 5px; }
  /* ----------------------------- SUGERIDOS TABLET ---------------------------- */
  .sugeridosTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px; }
  .sugeridos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-content: center;
    width: auto; }
  .a {
    align-items: center;
    justify-content: center; }
  .sug1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex-wrap: wrap;
    grid-row: 2 / 3; }
  .sug2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex-wrap: wrap;
    grid-row: 3 / 4; }
  .sug3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex-wrap: wrap;
    grid-row: 4 / 5; }
    .sug3 div img {
      width: 300px; }
  .productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-color: black;
    border-width: 2px;
    border-style: inset;
    padding-bottom: 5px;
    flex-wrap: wrap; }
  input[type="button" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    font-size: 20px;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial; }
  .accesorios {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3rem auto auto auto auto; }
    .accesorios h3 {
      grid-column: 1 / 4; } }

/* --------------------------- LAPTOP - L.TABLET - S.DESKTOP--------------------------- */
@media (min-width: 901px) and (max-width: 1279px) {
  .body {
    min-width: 901px;
    max-width: 1279px;
    margin: 0px;
    border: 0px; }
  .header {
    background-color: #0055a5;
    width: 100%; }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto; }
    .logo div {
      margin-top: 10px; }
  .logoImg {
    margin-right: 30px; }
  .titulo {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    color: #fee516; }
  .redes {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    align-content: flex-start;
    flex-direction: row;
    align-items: flex-start; }
    .redes div {
      margin: 10px; }
  /* ----------------------------------- NAV ---------------------------------- */
  .navMobile {
    display: none;
    background-color: #0055a5; }
  ul,
  ol {
    list-style: none; }
  .nav > li {
    float: left; }
  .nav {
    display: flex;
    justify-content: space-between;
    background-color: #0055a5;
    font-size: 25px;
    font-variant-caps: all-petite-caps; }
    .nav li a {
      background-color: #0055a5;
      color: white;
      text-decoration: none;
      padding: 8px 10px;
      display: block;
      transition: height; }
    .nav li a:hover {
      background-color: #0055a5;
      height: auto; }
    .nav li ul {
      display: none;
      position: absolute; }
    .nav li :hover > ul {
      display: block; }
    .nav li ul li {
      position: relative; }
      .nav li ul li ul {
        right: -140px;
        top: 0px; }
  /* ---------------------------------- INDEX --------------------------------- */
  .bodyindex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto; }
  .redes {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    align-content: flex-start;
    flex-direction: row;
    align-items: flex-start; }
    .redes div {
      margin: 10px; }
  /* ---------------------------- IDEAS INNOVADORAS --------------------------- */
  .ideas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    background-image: url(../imagenes/index/fondo.jpg);
    color: white;
    font-variant-caps: all-petite-caps;
    font-size: 55px;
    font-family: 'Fredericka the Great', cursive;
    padding: 5px; }
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .slide-inner {
    position: relative;
    overflow: hidden;
    width: 70%;
    height: auto; }
  .slide-open:checked + .slide-item {
    position: static;
    opacity: 100; }
  .slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-out;
    transition: opacity 0.8s ease-out; }
    .slide-item img {
      display: block;
      height: auto;
      max-width: 100%; }
  .slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10; }
  .slide-control.prev {
    left: 2%; }
  .slide-control.next {
    right: 2%; }
  .slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa; }
  #slide-1:checked ~ .control-1,
  #slide-2:checked ~ .control-2,
  #slide-3:checked ~ .control-3 {
    display: block; }
  .slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10; }
    .slide-indicador li {
      display: inline-block;
      margin: 0 5px; }
  .slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px; }
  .slide-circulo:hover {
    color: #aaaaaa; }
  #slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
  #slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
  #slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo {
    color: #428bca; } }

/* --------------------------- L.DESKTOP - MONITORS --------------------------- */
@media (min-width: 1280px) {
  .body {
    min-width: 1280px;
    margin: 0px;
    border: 0px; }
  .header {
    background-color: #0055a5;
    width: 100%; }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto; }
    .logo div {
      margin-top: 10px; }
  .logoImg {
    margin-right: 30px; }
  .titulo {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    color: #fee516; }
  .redes {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    align-content: flex-start;
    flex-direction: row;
    align-items: flex-start; }
    .redes div {
      margin: 10px; }
  /* ----------------------------------- NAV ---------------------------------- */
  .navMobile {
    display: none;
    background-color: #0055a5; }
  ul,
  ol {
    list-style: none; }
  .nav > li {
    float: left; }
  .nav {
    display: flex;
    justify-content: space-between;
    background-color: #0055a5;
    font-size: 25px;
    font-variant-caps: all-petite-caps; }
    .nav li a {
      background-color: #0055a5;
      color: white;
      text-decoration: none;
      padding: 8px 10px;
      display: block;
      transition: height; }
    .nav li a:hover {
      background-color: #0055a5;
      height: auto; }
    .nav li ul {
      display: none;
      position: absolute; }
    .nav li :hover > ul {
      display: block; }
    .nav li ul li {
      position: relative; }
      .nav li ul li ul {
        right: -140px;
        top: 0px; }
  /* ---------------------------------- INDEX --------------------------------- */
  .bodyindex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto; }
  .redes {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    align-content: flex-start;
    flex-direction: row;
    align-items: flex-start; }
  .redes div {
    margin: 10px; }
  /* ---------------------------- IDEAS INNOVADORAS --------------------------- */
  .ideas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    background-image: url(../imagenes/index/fondo.jpg);
    color: white;
    font-variant-caps: all-petite-caps;
    font-size: 74px;
    font-family: 'Fredericka the Great', cursive;
    padding: 5px; }
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .slide-inner {
    position: relative;
    overflow: hidden;
    width: 70%;
    height: auto; }
  .slide-open:checked + .slide-item {
    position: static;
    opacity: 100; }
  .slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-out;
    transition: opacity 0.8s ease-out; }
    .slide-item img {
      display: block;
      height: auto;
      max-width: 100%; }
  .slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10; }
  .slide-control.prev {
    left: 2%; }
  .slide-control.next {
    right: 2%; }
  .slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa; }
  #slide-1:checked ~ .control-1,
  #slide-2:checked ~ .control-2,
  #slide-3:checked ~ .control-3 {
    display: block; }
  .slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10; }
    .slide-indicador li {
      display: inline-block;
      margin: 0 5px; }
  .slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px; }
  .slide-circulo:hover {
    color: #aaaaaa; }
  #slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
  #slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
  #slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo {
    color: #428bca; } }
