@import "./colores.scss";
@import "./mixin.scss";
@import "./mediamobile.scss";
@import "./mediatablet.scss";
@import "./medialaptop.scss";
@import "./mediadeskop.scss";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* -------------------------------- AEROSOLES ------------------------------- */
.bodyaero {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
}

/* ------------------------------- ACCESORIOS ------------------------------- */
.bodyacce {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

/* --------------------------------- ESMALTE -------------------------------- */
.bodyesm {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
}

/* ------------------------------- IMPERMEABILIZANTES ------------------------------- */
.bodyimp {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
}

/* -------------------------------- CONTACTO -------------------------------- */
.bodycont {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 1rem;
}

/* ---------------------------------- Ideas --------------------------------- */
.ideas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    background-image: url(../src/multimedia/imagenes/index/fondo.jpg);
    color: $blanco;
    font-variant-caps: all-petite-caps;
    font-size: 100%;
    font-family: 'Fredericka the Great', cursive;
    padding: 5px;
}

/* ---------------------------------- Slide --------------------------------- */
.slide {
    @include flex-column-c;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 70%;
    height: auto;
}

.slide-open:checked+.slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-out;
    transition: opacity 0.8s ease-out;

    img {
        display: block;
        height: auto;
        max-width: 100%;
    }
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: $blanco;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked~.control-1,
#slide-2:checked~.control-2,
#slide-3:checked~.control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;

    li {
        display: inline-block;
        margin: 0 5px;
    }
}

.slide-circulo {
    color: $gris;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: $gris;
}

#slide-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo {
    color: $azul;
}

/* ------------------------------- Informacion ------------------------------ */
.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    padding-bottom: 30px;
    margin: 0px;

    h2 {
        padding: 30px;
        width: auto;
        height: aut;
    }

    p {
        width: auto;
    }
}

.informacion {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    column-gap: 1rem;
}

/* ------------------------------- Preparacion ------------------------------ */
.prep {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    padding-bottom: 30px;
    margin: 0px;

    h2 {
        padding: 30px;
        width: auto;
        height: auto;
    }

    p {
        width: auto;
        height: auto;
        padding: 30px;
    }
}

.video {
    @include flex-column-c-c;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 5px;
    
    iframe{
        width: 75%;
    }
}

/* --------------------------------- Footer --------------------------------- */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: $azul;
    color: $amarillo;
    font-size: 20px;

    ul {
        li {
            a {
                text-decoration: none;
                color: $blanco;
                padding: 10px;
            }
        }
    }

    ul {
        li {
            h5 {
                font-size: 25px;
                padding: 10px;
            }
        }
    }
}

.map {
    align-items: flex-end;
    padding: 1rem;

}

.credit {
    @include flex-c-c;
    background-color: $azul;
    color: $blanco;
}

/* -------------------------------- Sugeridos ------------------------------- */
.sugeridosTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 36px;
}

.sugeridos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    div {
        @include flex-column-sa;
        margin: 1rem;

        img {
            width: 300px;
        }
    }
}

.a {
    grid-column: 1 / 4;
    align-items: center;
    justify-content: center;
}

.productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-color: black;
    border-width: 2px;
    border-style: inset;
    padding-bottom: 5px;
    flex-wrap: wrap;
}

input[type="button"i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    font-size: 20px;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.accesorios {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 3rem auto;

    h3 {
        grid-column: 1 / 4;
    }
}

/* -------------------------------- Contacto -------------------------------- */
.contacto {
    display: flex;
    justify-content: space-around;

}

.form {
    @include flex-column-sa;
}

.contactoTitulo {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.formName {
    @extend .form;
    font-size: 20px;
}

.formMail {
    @extend .form;
    font-size: 20px;
}

.formConsulta {
    @extend .form;
    font-size: 20px;
}

.formButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem;


    input {
        appearance: auto;
        user-select: none;
        white-space: pre;
        align-items: flex-start;
        text-align: center;
        font-size: 20px;
        cursor: default;
        box-sizing: border-box;
        background-color: buttonface;
        color: buttontext;
        padding: 1px 6px;
        border-width: 2px;
        border-style: outset;
        border-color: buttonborder;
        border-image: initial;
    }
}

.contactoImg {
    padding: 50px;
    width: 500px;
}

/* ---------------------------------- Carta --------------------------------- */
.carta {
    @include flex-column-c-c;
    flex-wrap: wrap;
    width: auto;

    h2 {
        padding: 30px;
        font-size: 36px;
    }

    a {
        img {
            width: 100%;
            height: 350px;
        }
    }
}

/* ------------------------------ Media queris ------------------------------ */

@include mediamobile;
@include mediatablet;
@include medialaptop;
@include mediadeskop;